<div class="card border-0">
    <div class="card-header" [hidden]="projects.length === 1">
        <ul class="nav nav-tabs card-header-tabs" [sortablejs]="projects">
            <li class="nav-item nav-item-project" *ngFor="let project of projects">
                <a class="nav-link"
                        (click)="currentProject = project"
                        [class.active]="currentProject === project">
                    <span>{{project.title}}</span>
                    <button class="btn" (click)="$event.stopPropagation(); closeProject(project)">
                        <i class="fa fa-times fa-sm"></i>
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-project">
        <ul class="navbar-nav">
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" ngbDropdownToggle id="navFileDropdown">
                    Project
                </a>
                <div ngbDropdownMenu aria-labelledby="navFileDropdown">
                    <button ngbDropdownItem (click)="newProject()">New project</button>
                    <button ngbDropdownItem>Download results</button>
                    <div class="dropdown-divider" *ngIf="user.authenticated"></div>
                    <button ngbDropdownItem *ngIf="user.authenticated"
                            (click)="saveProject()">Save project</button>
                    <button ngbDropdownItem *ngIf="user.authenticated"
                            (click)="loadProject()">Load project</button>
                </div>
            </li>
        </ul>
    </nav>
    <div class="card-body" *ngFor="let project of projects" [hidden]="currentProject !== project">
        <div class="container-fluid" *ngIf="project.ready; else projectCreator">
            <div class="row">
                <div class="col">
                    <graph-editor [project]="project"></graph-editor>
                </div>
            </div>
        </div>
        <ng-template #projectCreator>
            <project-creator [project]="project"></project-creator>
        </ng-template>
    </div>
</div>
