graph-editor {
    position: relative;
    display: block;
    margin: -1.25rem;
}

.graph-editor-canvas {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

graph-editor .graph-editor-toolbars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
}

graph-editor .graph-editor-toolbars .btn:not(:hover) {
    background: white;
}

.administration-table tbody tr {
    cursor: pointer;
}

.administration-table td:last-child {
    text-align: right;
}

.administration-table td:last-child > * {
    visibility: hidden;
}

.administration-table tr:hover td:last-child > * {
    visibility: visible;
}

.fa-alert {
    font-size: 62pt;
    color: #d0d0d0;
}

.sidebar {
    width: 300px
}

.navbar-nav .dropdown .dropdown-menu {
    position: absolute;
}

.card .card-header {
    border-bottom: none;
}

.navbar-project {
    background: cadetblue;
    height: 1rem;
}

.card-header.project-header {
    padding: 0;
}

.nav-tabs .nav-item.nav-item-project {
    margin-bottom: 0;
}

.nav-tabs .nav-item-project .nav-link {
    background: lightgray;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.nav-tabs .nav-item-project:last-child .nav-link {
    padding-left: 1rem;
}
.nav-tabs .nav-item-project .nav-link:hover {
    background: silver;
}

.nav-tabs .nav-item-project .nav-link.active {
    background: cadetblue;
    color: white;
}

.nav-tabs .nav-item-project .dropdown-toggle,
.nav-tabs .nav-item-project .fa {
    color: black;
}

.nav-tabs .nav-item-project .dropdown-toggle:after {
    content: none;
}

.nav-tabs .nav-item-project .nav-link:not(.active) .dropdown-toggle {
    text-decoration: none;
}

.nav-tabs .nav-item-project .nav-link .fa-times:hover {
    color: indianred;
}

.nav-tabs .nav-item-project .active .dropdown-toggle,
.nav-tabs .nav-item-project .active .fa {
    color: white;
}

.graph-node.selected {
    stroke-opacity: 1;
}

/*todo: maybe make tooltip its own component*/
.d3-tooltip {
    position: absolute;
    padding: 2px;
    border-radius: 8px;
    pointer-events: none;
    background: #fafafa;
    opacity: 0;
}

.alert-overlay {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 1rem;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    display: flex;
    flex-direction: column-reverse;
}

.alert-overlay alert {
    pointer-events: visible;
    user-select: auto;
}

.spinner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff88;
    backdrop-filter: blur(3px);
}

.spinner-overlay .spinner-border {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
}
