graph-editor {
    position: relative;
    display: block;
    margin: -1.25rem;
    overflow: hidden;
}

.graph-editor-canvas {
    width: 100%;
    height: 800px;
}

graph-editor .graph-editor-toolbars {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
}

graph-editor .graph-editor-toolbars > * {
    pointer-events: initial;
}

graph-editor .graph-editor-toolbars.toolbar-right {
    right: 1rem;
}

graph-editor .graph-editor-toolbars.toolbar-left {
    left: 1rem;
}

graph-editor .graph-editor-toolbars .btn:not(:hover) {
    background: white;
}

.administration-table tbody tr {
    cursor: pointer;
}

.administration-table td:last-child {
    text-align: right;
}

.administration-table td:last-child > * {
    visibility: hidden;
}

.administration-table tr:hover td:last-child > * {
    visibility: visible;
}

.fa-alert {
    font-size: 62pt;
    color: #d0d0d0;
}

.navbar-nav .dropdown .dropdown-menu {
    position: absolute;
}

.card .card-header {
    border-bottom: none;
}

.navbar-project {
    background: cadetblue;
    height: 1rem;
}

#project-header.card-header {
    padding: 0;
}

.nav-tabs .nav-item.nav-item-project {
    margin-bottom: 0;
}

.nav-tabs .nav-item-project .nav-link {
    background: lightgray;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.nav-tabs .nav-item-project:last-child .nav-link {
    padding-left: 1rem;
}
.nav-tabs .nav-item-project .nav-link:hover {
    background: silver;
}

.nav-tabs .nav-item-project .nav-link.active {
    background: cadetblue;
    color: white;
}

.nav-tabs .nav-item-project .dropdown-toggle,
.nav-tabs .nav-item-project .fa {
    color: black;
}

.nav-tabs .nav-item-project .dropdown-toggle:after {
    content: none;
}

.nav-tabs .nav-item-project .nav-link:not(.active) .dropdown-toggle {
    text-decoration: none;
}

.nav-tabs .nav-item-project .nav-link .fa-times:hover {
    color: indianred;
}

.nav-tabs .nav-item-project .active .dropdown-toggle,
.nav-tabs .nav-item-project .active .fa {
    color: white;
}

.graph-edge,
.graph-node circle {
    stroke: #555555;
}

.graph-node text {
    font-size: 0.75rem;
    font-weight: 300;
}

.graph-node.selected circle {
    stroke: #555555;
    stroke-width: 3px;
}

.graph-node.selected text {
    font-weight: 600;
}

[id ^= arrow-] {
    stroke: #555555;
    fill: none;
}

editor-viewport-d3 {
    display: block;
}

editor-viewport-d3 .tooltip {
    pointer-events: none;
}

editor-viewport-d3 .tooltip .arrow:before {
    top: 0.2rem;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
    transform: rotate(270deg);
}

.alert-overlay {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 1rem;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    display: flex;
    flex-direction: column-reverse;
}

.alert-overlay alert {
    pointer-events: visible;
    user-select: auto;
}

.spinner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff88;
    backdrop-filter: blur(3px);
}

.spinner-overlay .spinner-border {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
}

.selection-box {
    stroke: cadetblue;
    stroke-dasharray: 3px;
    fill: #c6ffed88;
}

graph-editor-details {
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    transition: width 0.3s ease-in-out;
    width: 0;
}

graph-editor-details.expanded {
    width: 20rem;
}

graph-editor-details > .card {
    width: 20rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

graph-editor-settings {
    display: block;
    position: absolute;
    left: 20rem;
    right: 20rem;
    bottom: 0;
    transition: height 0.2s ease-in-out;
    height: 0;
}

graph-editor-settings.expanded {
    height: 25rem
}

graph-editor-settings > .card {
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.result-card .card-header {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.result-card .card-body {
    padding: 0;
}

.result-card .result-row {
    cursor: pointer;
}

.result-card .result-row:hover {
    background: #f0f0f0;
}
