<div class="card">
    <div class="card-header">
        <p class="card-title" *ngIf="selectedNodes.length > 1 ">
            Selected <strong>{{selectedNodes.length}}</strong> nodes
        </p>
        <p class="card-title" *ngIf="selectedNodes.length === 1 ">
            <strong>{{selectedNodes[0].data.name}}</strong>
        </p>
        <p class="card-title" *ngIf="!selectedNodes.length">
            <strong>Graph properties</strong>
        </p>
    </div>
    <div *ngIf="selectedNodes.length == 1" class="card-body px-2">
        <table *ngFor="let node of selectedNodes">
            <tr>
                <td>Node ID:</td>
                <td>{{node.data.id}}</td>
            </tr>
            <tr>
                <td>Coordinates:</td>
                <td>({{node.x | number}}, {{node.y | number}})</td>
            </tr>
            <tr>
                <td colspan="2" class="form-group">
                    <hr>
                    <label for="singlePersonalization">Personalization:</label>
                    <input id="singlePersonalization" type="number" class="form-control"
                           [(ngModel)]="personalization">
                </td>
            </tr>
        </table>
        <div *ngIf="hasExtraValues">
            <hr>
            <p>Calculated values:</p>
            <div class="card result-card" *ngFor="let result of extraValueNames;">
                <div class="card-header" (click)="expandResult(resultCollapse)">
                    {{result}}
                </div>
                <div class="card-body" ngbCollapse #resultCollapse="ngbCollapse">
                    <table class="table">
                        <tr>
                            <th>Run</th>
                            <th>Result</th>
                        </tr>
                        <tr *ngFor="let value of extraValues[result]; index as i"
                            (click)="selectedResult.emit([result, i])"
                            class="result-row" ngbTooltip="Show this run in the viewport">
                            <td>{{i}}</td>
                            <td>{{ formatValue(value) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedNodes.length > 1" class="card-body px-2">
        <label for="multiPersonalization">Personalization:</label>
        <input id="multiPersonalization" type="number" class="form-control"
               [(ngModel)]="personalization">
    </div>
    <div *ngIf="!selectedNodes.length" class="card-body px-2">
        <table>
            <tr>
                <td>
                    Nodes:
                </td>
                <td>
                    {{ project.nodeCount }}
                </td>
            </tr>
            <tr>
                <td>
                    Edges:
                </td>
                <td>
                    {{ project.edgeCount }}
                </td>
            </tr>
            <tr>
                <td>
                    Density:
                </td>
                <td>
                    {{ density | percent }}
                </td>
            </tr>

        </table>
        <div *ngIf="projectHistoryNames.length > 0">
            <hr>
            <p>Calculated value history:</p>
            <div class="card result-card" *ngFor="let result of projectHistoryNames;">
                <div class="card-header" (click)="expandResult(resultCollapse)">
                    {{result}}
                </div>
                <div class="card-body" ngbCollapse #resultCollapse="ngbCollapse">
                    <table class="table">
                        <tr>
                            <th>Run</th>
                            <th>Timestamp</th>
                        </tr>
                        <tr *ngFor="let timestamp of project.history[result]; index as i"
                            (click)="selectedResult.emit([result, i])"
                            class="result-row" ngbTooltip="Show in viewport" #topTooltip="ngbTooltip">
                            <td>{{i}}</td>
                            <td>
                                {{ dateTime(timestamp) }}
                                <button class="btn btn-sm float-right py-0" ngbTooltip="Remove from history"
                                        (click)="removeFromHistory.emit([result, i]); $event.stopPropagation()"
                                        (mouseover)="topTooltip.close()">
                                    <i class="fa fa-sm fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
