<div class="card">
    <div class="card-header">
        <p class="card-title">
            <strong>Editor settings</strong>
        </p>
    </div>
    <div class="card-body row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <label for="colorMappingCheck">Map value to node color</label>
                    <input class="form-check-inline float-right" type="checkbox" id="colorMappingCheck"
                           [(ngModel)]="enableColor" [disabled]="availableFields.length < 1" (change)="selectColorField()">
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-8" for="lowColorPicker">Lower bound color value:</label>
                        <div class="col-4">
                            <input class="form-control form-control-sm" [(colorPicker)]="mapping.colorRange[0]"
                                   (colorPickerChange)="change.emit()" [style.background]="mapping.colorRange[0]"
                                   type="button" id="lowColorPicker" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-8" for="hiColorPicker">Upper bound color value:</label>
                        <div class="col-4">
                            <input class="form-control form-control-sm" [(colorPicker)]="mapping.colorRange[1]"
                                   (colorPickerChange)="change.emit()" [style.background]="mapping.colorRange[1]"
                                   type="button" id="hiColorPicker" [disabled]="disableColor"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="colorFieldSelect">Bind to the following value:</label>
                            <select [(ngModel)]="selectedColorField" class="form-control form-control-sm" id="colorFieldSelect"
                                    (change)="selectColorField()" [disabled]="disableColor">
                                <option [ngValue]="null" [disabled]="true" >Select from list</option>
                                <option *ngFor="let field of availableFields">{{field}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <label for="sizeMappingCheck">Map value to node size</label>
                    <input class="form-check-inline float-right" type="checkbox" id="sizeMappingCheck"
                           [(ngModel)]="enableSize" [disabled]="availableFields.length < 1" (change)="selectSizeField()">
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-8" for="lowSizeInput">Lower bound size value:</label>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="lowSizeInput" type="number"
                                   [disabled]="disableSize" [(ngModel)]="mapping.sizeRange[0]"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-8" for="hiSizeInput">Upper bound size value:</label>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="hiSizeInput" type="number"
                                   [disabled]="disableSize" [(ngModel)]="mapping.sizeRange[1]"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="sizeFieldSelect">Bind to the following value:</label>
                            <select [(ngModel)]="selectedSizeField" class="form-control form-control-sm" id="sizeFieldSelect"
                                    (change)="selectSizeField()" [disabled]="disableSize">
                                <option [ngValue]="null" [disabled]="true" >Select from list</option>
                                <option *ngFor="let field of availableFields">{{field}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <label for="sizeMappingCheck">Other options</label>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="labelSrc">Node label source:</label>
                            <select class="form-control form-control-sm" id="labelSrc"
                                    [(ngModel)]="mapping.labelSrc" (change)="change.emit()">
                                <option value="">Hide label</option>
                                <option value="name">Node name</option>
                                <option value="id">Node ID</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="tooltipFields">Values shown in the tooltip:</label>
                            <div [sortablejs]="mapping.tooltipFields">
                                <span class="badge badge-secondary mb-1" *ngFor="let field of mapping.tooltipFields">
                                    <span>{{field}}</span>
                                    <button class="btn btn-sm"
                                            (click)="mapping.removeTooltipField(field)">
                                        <i class="text-light fa fa-sm fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <select class="form-control form-control-sm" #tooltipFieldSelect id="tooltipFields"
                                    [disabled]="mapping.tooltipFields.length > 3"
                                    (change)="mapping.tooltipFields.push(tooltipFieldSelect.value);
                                    change.emit(); tooltipFieldSelect.value = ''">
                                <option value="" [disabled]="true" >Select value from list</option>
                                <option *ngFor="let field of tooltipFields">{{field}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
