<form #form>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Upload new library</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">
            <ngx-dropzone (change)="onAddFile($event)" [accept]="acceptFiles" *ngIf="!libraryObj.id">
                <ngx-dropzone-label>
                    <h5>Please upload JAR which contains the library application.</h5>
                </ngx-dropzone-label>
            </ngx-dropzone>
            <div *ngIf="libraryObj.id">
            <div class="form-group">
                <label for="name">Library name:</label>
                <input type="text" class="form-control" id="name" name="name"
                       [(ngModel)]="libraryObj.name" required minlength="4"/>

            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" name="description"
                       [(ngModel)]="libraryObj.description" required minlength="4"/>
            </div>
            <label>Parameters:</label>
                <table class="table table-striped table-hover w-100" *ngIf="libraryObj.parameters.length else noParams">
                    <thead>
                    <tr>
                        <th style="width:25%">Name</th>
                        <th style="width:25%">Argument</th>
                        <th style="width:20%">Type</th>
                        <th style="width:20%">Mandatory</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let parameter of libraryObj.parameters" [ngbTooltip]="parameter.description"
                        (click)="updateParameter(parameter)" style="cursor: pointer">
                        <td>{{parameter.name}}</td>
                        <td>{{parameter.option}}</td>
                        <td>{{parameter.type}}</td>
                        <td>
                            <span *ngIf="parameter.mandatory else notMandatory">Yes</span>
                            <ng-template #notMandatory>No</ng-template>
                        </td>
                        <td>
                            <button class="btn" (click)="removeParameter(parameter)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ng-template #noParams>
                    <div class="col-12">
                        <span>No parameters available.</span>
                    </div>
                </ng-template>
                <hr/>
                <label>
                <select #parameterSelect class="form-control"
                        (change)="selectParameter(parameterSelect.value); parameterSelect.value = 'none'">
                    <option selected hidden disabled value="none">Use predefined parameter</option>
                    <option *ngFor="let parameter of selectableParameters">{{parameter.name}}</option>
                </select>
            </label>
        <button class="btn btn-primary float-right" (click)="newParameter()">Add custom parameter</button>
            </div>

        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="!(form.reportValidity()) || submit()">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    </div>
</form>
