<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand auto" href="#">GraphView</a>
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li *ngIf="user.isAdmin">
            <a class="nav-link" routerLink="/administration" routerLinkActive="active">Administration</a>
        </li>
    </ul>


    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <div *ngIf="!user.authenticated">
            <button type="button" class="btn btn-primary" (click)="openLoginDlg()">Login</button>
            <span class="navbar-text p-2">or</span>
            <button type="button" class="btn btn-primary" (click)="openRegDlg()">Register</button>
        </div>
        <div class="btn-group" *ngIf="user.authenticated">
            <button type="button" class="btn btn-light" (click)="openPreferences()">
                {{ user.user.displayName }}
            </button>
            <button type="button" class="btn btn-danger" (click)="user.logout()">Logout</button>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
