.graph-editor-viewer-canvas {
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.graph-editor-viewer {
    display: flex;
}

.graph-editor-viewer .btn-group-vertical .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.graph-editor-viewer .graph-editor-toolbars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.administration-table tbody tr {
    cursor: pointer;
}

.administration-table td:last-child {
    text-align: right;
}

.administration-table td:last-child > * {
    visibility: hidden;
}

.administration-table tr:hover td:last-child > * {
    visibility: visible;
}

.fa-alert {
    font-size: 62pt;
    color: #d0d0d0;
}

.sidebar {
    width: 300px
}

.navbar-nav .dropdown .dropdown-menu {
    position: absolute;
}

.card .card-header {
    border-bottom: none;
}

.navbar-project {
    background: cadetblue;
    color: white;
}

.navbar-project a {
    color: white;
}

.nav-tabs .nav-item-project .nav-link {
    background: lightgray;
    color: black;
}

.nav-tabs .nav-item-project .nav-link.active {
    background: cadetblue;
    color: white;
}

.graph-node.selected {
    stroke-opacity: 1;
}
