<div class="card border-0">
    <div class="card-header project-header">
        <ul class="nav nav-tabs border-0" [sortablejs]="projects">
            <li class="nav-item nav-item-project" *ngFor="let project of projects">
                <a class="nav-link"
                        (click)="currentProject = project"
                        [class.active]="currentProject == project">
                    <div class="d-inline" ngbDropdown>
                        <a [hidden]="currentProject != project" ngbDropdownToggle id="projectDropdownToggle" role="button">
                            <span>{{ getProjectTitle(project) }}</span>
                            <i class="fa fa-caret-down fa-sm ml-2"></i>
                        </a>
                        <a [hidden]="currentProject == project" class="dropdown-toggle">
                            {{ getProjectTitle(project) }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="projectDropdownToggle">
                            <button ngbDropdownItem (click)="renameProject()">Rename project</button>
                            <button ngbDropdownItem (click)="saver.saveProjectCSV(project)">Save to file</button>
                            <!--<button ngbDropdownItem>Download results</button>-->
                            <div class="dropdown-divider" *ngIf="user.authenticated"></div>
                            <button ngbDropdownItem *ngIf="user.authenticated"
                                    (click)="saveProject()">Save project</button>
                            <button ngbDropdownItem *ngIf="user.authenticated"
                                    (click)="loadProject()">Load project</button>
                        </div>
                    </div>
                    <i class="ml-2 pl-2 fa fa-times fa-sm" (click)="$event.stopPropagation(); closeProject(project)"
                            [hidden]="projects.length == 1">
                    </i>
                </a>
            </li>
            <li class="nav-item nav-item-project">
                <a class="nav-link" (click)="newProject()">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>
        <div class="navbar-project">
        </div>
    </div>
    <div class="card-body" id="project-body" *ngFor="let project of projects" [hidden]="currentProject !== project">
        <graph-editor *ngIf="project.ready; else projectCreator" [project]="project"></graph-editor>
        <ng-template #projectCreator>
            <project-creator [project]="project"></project-creator>
        </ng-template>
    </div>
</div>
